*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1060px; } }

.heading-2, .heading-3 {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.paragraph {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-align: left;
}

.subtitle {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
  @media only screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  transition: color ease .1s;

  &:hover{
    text-decoration: none;
    color: #FFFF00;
  }

  &:active{
    color: #FF0000;
  }
}