.recognition {
  margin-bottom: 120px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 80px;
  }
  @media only screen and (max-width: 576px) {
    margin-bottom: 50px;
    padding: 0 20px;
  }
  @media only screen and (max-width: 458px) {
    padding: 0;
  }
  .heading-2 {
    margin-bottom: 30px;
    @media only screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
  .subtitle {
    margin-bottom: 20px;
    line-height: 1.5;
    @media only screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
  @media only screen and (min-width: 992px) {
    .container {
      padding: 0;
    }
  }

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 94px;
    }
    .logo-4 {
      width: 102px;
    }
    .logo-5 {
      width: 190px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__logo:not(:last-child) {
    margin-right: 35px;
    @media only screen and (max-width: 768px) {
      margin-right: 25px;
    }
  }
}